@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
    font-size: 62.5%;
}

.taskBase{
    width: 60%;
    background-color: #ffffff;
    margin: 0 auto;
    font-size: 1rem;
}
.taskTitle{
    background-color: #55b0ff;
    display: flex;
    padding: 10px;
}
.taskMenu{
    color: #fff;
    width: 100%;
    text-align: center;
}
.taskName{
    display: flex;
    padding: 10px;
    border-bottom: dashed 1px #c0c0c0;
}
.taskValue{
    width: 80%;
    border-right: solid 1px #c0c0c0;
    white-space: normal;
    word-break: break-word;
    padding-right: 10px;
}
.created{
    background-color: #e7e7e7;
    width: fit-content;
    padding: 5px 10px;
}
.status{
    width: 20%;
    text-align: center;
    margin: auto;
}
#deleteButton, button{
    border: none;
    padding: 4px 10px;
    margin-bottom: 5px;
}

#deleteButton{
    background-color: #e62705;
    color: #fff;
    display: flex;
    border-radius: 5px;
}

button{
    background-color: #55b0ff;
    min-width: 115px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
button img,form img{
    width: 20px;
}
button a{
    color: #fff;
    text-decoration: none;
    margin-left: 7px;
}
.button-container{
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.deleteText{
    border: none;
    background-color: #e62705;
    color: #fff;
    margin-left: 7px;
}
details{
	position: relative;
}
summary{
	list-style: none;
	outline: none;
	padding: 0 5px;
	border-radius: 1rem;
}
summary:hover{
	background-color: rgb(235, 235, 235);
	transition: 0.5s;
}
.detailsMenu{
	background-color: #ffff;
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 5px;
	padding: 5px;
	border-radius: 5px;
	filter: drop-shadow(rgb(209, 209, 209) 5px 5px 5px);
}
.detailsMenu input{
	background-color: #ffff;
}
.detailsMenu input:hover{
	background-color: rgb(230, 230, 230) ;
	transition: 0.3s;
}
.detailsMenu .deleteTaskButton:hover{
	background-color: rgb(255, 0, 0);
	color: white;
	transition: 0s;
}
.pageBox{
	width: 60%;
	margin:10px auto;
	padding: 10px;
	background-color: #ffffff;
}
.pageBox ul{
	display: flex;
	text-align: center;
	width: fit-content;
	margin:0 auto;
}
.pageBox li{
	margin: 0 5px;
	list-style: none;
	border-radius: 1rem;
}


.pageBox a{
	padding: 10px 10px;
	text-decoration: none;
	font-size: 1rem;
}
.pageBox a:hover{
	background-color: #e7e7e7;

}
.pageBox .active{
	background-color: #e7e7e7;
}


.msgBox{
	width:fit-content;
	padding:8px 12px;
	background-color:#b7ffa3;
	position:absolute;
	top:65px;
	left:50%;
	transform:translateX(-50%);
	color:#fff;
	background-color:#42c91d;
	border-radius:1rem;
	border:solid 3px #fff;
	animation: fadeout 1s ease-out 5s forwards ;
}

@keyframes fadeout{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.statusBox{
	display: flex;
}

.statusBox button{
	width: fit-content;
	margin-left:5px;
	min-width: fit-content;
	color: #ffffff;
	opacity: 0.6;
}
.statusBox button.active{
	opacity: 1;
}